Flask==3.1.0
Flask_Caching==2.3.0
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
Jinja2==3.1.4
MarkupSafe==2.1.5
MarkupSafe==3.0.1
Pillow==11.0.0
PyMySQL==1.1.1
python-slugify==8.0.4
SQLAlchemy==2.0.36
Werkzeug==3.1.3